

.top-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
  padding: 20px 0;
  background-color:#622B14;
}

.top-nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.top-nav a:hover {
  color: #f9c900;
}



body{
    background-image:url('about.png');
    text-align:left; /* Align text to the right */
    background-size: cover; /* Make it fill the page */
    background-position: left top ; /* Center the image */
    background-repeat: no-repeat;
    color:white;
    padding-left:120px; /* Add space from the left edge */
    padding-top:80px;
    font-family:Arial, sans-serif;
    }



.info{
    text-align:left;
    font-size:20px;
    padding-top:70px;
    width:600px;
}

h1{
    font-size:70px;
}


