
a{
    color:white;
    text-decoration:none;
}

a:hover{
    color:blue;
    text-decoration:none;
}


body{
    /*background-image:url('pepper4.jpg');
    text-align:left; /* Align text to th/e right */
   /* background-size: cover; /* Make it fill the page */
    /*background-position: left top ; /* Center the image */
    /*background-repeat: no-repeat;*/
    margin:0;
    color:white;
    font-family:Arial, sans-serif;
    overflow-x:hidden;
    }

.hero {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow:hidden;
}

.hero-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top right;
}


.field{
    padding-top:200px;

}



.hero h1 {
    position: absolute;
    top: 10%;
    left: 7%;
    margin: 0;
    font-size: clamp(40px, 5vw, 75px);
}


.hero p {
    position: absolute;
    left: 7%;
    bottom:15%;

    width: min(500px, 35vw);
    margin: 0;
    font-size: clamp(20px, 1.5vw, 26px);
}


.subFolder{

    font-size:20px;
    text-align:right;
    margin-right:70px;

}

hr{
    width:33%;
    text-align:right;
    margin-right:70px;

}


.hero .rightside {
    position: absolute;
    bottom:15%;
    right: 5%;
    width: 42%;
}