<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='cv.css') }}">

    <title>CV-Ayobami</title>
</head>
<body>
     <nav class="top-nav">
        <a href="{{ url_for('home') }}">HOME</a>
        <a href="{{ url_for('about') }}">ABOUT</a>
        <a  href="{{ url_for('project') }}">PROJECTS</a>
        <a href="{{ url_for('contact') }}">CONTACT</a>
    </nav>

</body>
</html>